
body{
    padding-top: 1.5vw;
    font-size: 2vw;
}


.container {

    display: flex;
    height: auto;
    box-shadow: 0 0 1vw rgba(204, 173, 125, 0.05);
    border: 0.5vw solid #ccc; 
    border-radius: 0.5vw; 
    padding: 3vw; 
 
    
}

.front{
    padding: 2vw;
    width: 30%;  
    border: 0.5vw solid #b69d9d; 
    border-radius: 0.5vw; 
}

.main{
    padding: 2vw;
    width: 70%;
    border: 0.5vw solid #b69d9d; 
    border-radius: 0.5vw; 
}

ul{
    list-style-type: none;
    padding: 2vw;
}

li{
    padding-bottom:3vw;
}
button {
    background-color: #df7645; 
    color: white; 
    border: none; 
    border-radius: 0.5vw; 
    padding: 2vw 2vw; 
    font-size: 2.0vw; 
    cursor: pointer; 
    transition: background-color 0.5s ease; 
}

button:hover {
    background-color: #e7d066; 
}

.btns{
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5vw solid #aaa;
    cursor: pointer; 
}

.edit,
.details{
    display: none;
}
.active{
    position: relative;
    display: block;
}

img{
    width:80%;  
}

textarea {
    padding: 3.5vw;
    border: 0.5vw solid #ccc;
    border-radius: 0.5vw;
    transition: border-color 0.3s;
    margin: 2.5vw;
    width:20vw;
}

input {
    padding: 0.1vw;
    border: 0.25vw solid #ccc;
    border-radius: 0.5vw;
    transition: border-color 0.3s;
    margin: 0.5vw;
    width:20vw;
}

input:focus {
    border-color: #4CAF50;
}


table {
    width: 100%;
    box-shadow: 0 0.5vw 4vw rgba(0, 0, 0, 0.1);
    border:0.25vw solid #ddd;

}

th {
    background-color: #2ea8ac;
    color: white;
    padding: 3vw;
    text-align: left;
}


td {
    padding: 2vw;
    text-align: left;
    border: 0.25vw solid #ddd;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}


tr:hover {
    background-color: #ddd;
}

fieldset{
    height: 60vw;  
    padding: 0.5vw;  
    margin: 0.5vw;
}

.personres{
    display: none;
  
}

.companyres{
    display: none;
}

label {
    margin-right: 2vw; 
}


.backhome
.logoutbtn{
    position: absolute;
    display: flex;
    right: 8vw;
 
}

p{
    margin-top: 2vw;    
}

div{
    padding: 1.5vw;
}
