
@import
	url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap")
	;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size:2.5vw;
	font-family: "Agu Display", serif;
}

body {
	display: flex;
	max-width: 100%;
	max-height: 100%;
	background-image: linear-gradient(135deg, #ff9a9e 10%, #F6416C 100%);
	
}

body::before, body::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	z-index: -1;

}

body::before {
	clip-path: circle(30% at left 20%);
	opacity: 0.4;
	background-image: linear-gradient(135deg, #F6416C 10%, #ff9a9e 80%);
}

body::after {
	opacity: 0.4;
	clip-path: circle(30% at right 80%);
	background-image: linear-gradient(135deg, #F6416C 10%, #ff9a9e 80%);
}


.btncontainer {
	display: flex;
	gap: 2vw;
	position: absolute;
	top: 3vw;
	right: 5vw;
}

.msgsend{
	display:flex;
	flex-wrap: wrap;
	margin-left: 27vw;
}


.profilebtn, .login-btn {

	border-radius: 0.2vw;
	background-color: #f4b6c1;
	color: white;
}
.msgsend button:hover,
.profilebtn:hover, .login-btn:hover {
	background: rgb(212, 72, 96);
}

.logoutbtn {
	position: absolute;
	display: flex;
	right: 1vw;
	top: 2vw;
}

.form-pop {
	position: fixed;
	top: 25vw;
	left: 50%;
	z-index: 20;
	background: #EDA4CF;
	opacity: 0%;	
	width:60vw;
	max-width: 70vw;
	border: solid 0.25vw;
	border-radius: 1vw;
	padding: 0.5vw;

}

.form-pop .close-btn {
	right: 6vw;
}

.show-pop .form-pop {
	opacity: 1;
	transform: translate(-50%, -50%);
}

.blur-bg-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	backdrop-filter: blur(1vw);
}

.show-pop .blur-bg-overlay {
	opacity: 1;
}

.form-content {
	width: 100%;
	text-align: center;
	font-size: 2.5vw;
}

form label {
	text-align: center;
	font-weight: 30;
	margin-top: 4vw;
	margin-bottom: 4vw;
}

.input-field {
	position: relative;
	
	width: auto;
}

form button {
	width: 30%;
	color: #e47d54;
	border: none;
	outline: solid;
	border-radius: 1vw;
	background: #eaebe9;
}

.form-pop .signup, .form-pop.show-signup .login {
	display: none;
}

.form-pop.show-signup .signup {
	position: relative;
	display: flex;
}

header {
	margin-top:8vw;
	height: auto;
	width: 85%;
	margin-left:5vw;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
	border: 0.5vw solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(5vw);
	border-radius: 2vw;
}

header span {
	color: white;
	font-weight: 600;
	
}

.rotate-1 {
	animation: rotation 60s infinite linear;
	width: 40%;
	height: auto;
	z-index: 12;
	max-width: 30vw;
}

.rotate-2 {
	animation: rotation 60s infinite linear;
	width: 45%;
	height: auto;
	z-index: 9;
	max-width: 20vw;
}

.rotate-3 {
	animation: rotation 60s infinite linear;
	width: 45%;
	height: auto;
	z-index: 10;
	max-width: 30vw;

}

.rotate-4 {
	animation: rotation 60s infinite linear;
	width: 60%;
	height: auto;
	z-index: 11;
	max-width: 50vw;
}

@keyframes rotation {from { transform:rotate(0deg);
	
}

to {
	transform: rotate(359deg);
}

}

ul {
	text-align: center;
	padding-top: 2vw;
	width: 100%;
	float: center;
}

li {
	display: inline;
	text-decoration: none;
}

li a {
	color: black;
	font-weight: 500;
	text-decoration: none;
}

.event_section {
	text-align:center;
	
}

.item_section {
	background: #f3a59c;
	text-align:center;
}

.item_info {
	display: flex;
	flex-wrap: wrap;

}

.item_info li {
	padding:3vw;
	width: 48%;
}

.contact_section{
	text-align:center;
	height:50vh;
}


.msgsend input{
	margin-bottom:1vw;
	border-radius:1vw;
	border:0.4vw solid orange;
	width:70%;
}	

.msgsend textarea{
	margin-bottom:1vw;
	border-radius:1vw;
	border:0.4vw solid orange;
	width:90%;
}
.msgsend button{
	width:8vw;
	height:5vw;
	border-radius: 0.3vw;
	background-color: #f4b6c1;
	color: white;
}	


img{
	width:60%;
}	
	
